<div class="backgrounds">
    <img src="./assets/img/start-screen-bg2.jpg" id="main-bg">
    <div class="bg-left-overlay"> 
        <img src="./assets/img/start-screen-left-bg.webp" id="left-bg">
    </div>
</div>


<div class="start-screen-overlay">

    <div class="menu">
        <div class="headline">
            <h1>
                RING OF FIRE
            </h1>
            <h2>
                Drinking game
            </h2>
        </div>
        
        <button class="glow-on-hover" type="button" (click)="newGame()">Start game! </button>
    </div>
</div>