<app-player *ngFor="let player of game.players ; let i = index; " class="player-position" [name]="player"  [playerActive]="i == game.currentPlayer"
     [ngStyle]="{'top.px': 85 + (i * 95)}"> </app-player>


<div class="backgrounds">
    <img src="./assets/img/start-screen-left-bg.webp" alt="board_img" id="main-bg">
    <div>
        <img src="./assets/img/board_overlay.webp" alt="board_img" id="middle-bg">
    </div>
</div>

<div class="game-screen">

    <div class="card-stack">
        <!-- Card stack -->
        <img *ngFor="let c of [1,2,3,4,5]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="./assets/img/back-card.png" alt="board_img">
        <img (click)="takeCard()" class="top-card" style="right:25px" src="./assets/img/back-card.png">

        <!-- Stack for played cards -->
        <img ngFor="let card of game.playedCards" class="played-card" *ngIf="lastCard"
            src="./assets/img/play_cards/{{lastCard}}" alt="board_img">

        <!-- Current card Animation-->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class=" pick-card" style="right:25px"
            src="./assets/img/play_cards/{{newCard}}">

    </div>



    <button (click)="openDialog()" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="add-player-btn">
        <mat-icon>add</mat-icon>
    </button>
</div>

<app-game-description [card]="lastCard"> </app-game-description>